*{
    margin:0;
    padding: 0;
    box-sizing: 0;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right ,rgba(147, 72, 218, 0.941), white);
}
img{
    width: 200px;
    position: fixed;
    top: 10px;
    left: 10px;
}
h1{
    position: fixed;
    top:10px;
    font-weight: bolder;
}